body {
    background-color: darkgray;
}

/* Styles for Add Appliance Form */
#appliance-form-container {
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

#add-appliance-form {
  display: none;
  width: 90%;
  border-radius: 5px;
  padding: 20px;
  background-color: #f2f2f2;
}

#add-appliance-form label {
  display: block;
}

#add-appliance-form input,
#add-appliance-form select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#add-appliance-form button[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#add-appliance-form button[type=submit]:hover {
  background-color: #45a049;
}

#appliance-list {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.appliance {
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}