body {
    background-color: darkgray;
}

/* Styles for Add Appliance Form */
#appliance-form-container {
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

#add-appliance-form {
  display: none;
  width: 90%;
  border-radius: 5px;
  padding: 20px;
  background-color: #f2f2f2;
}

#add-appliance-form label {
  display: block;
}

#add-appliance-form input,
#add-appliance-form select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#add-appliance-form button[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#add-appliance-form button[type=submit]:hover {
  background-color: #45a049;
}

/* Appliance List Styles */
#appliance-list {
  display: flex;
  margin-top: 20px;
  padding: 100px;
  border-radius: 5px;
  gap: 100px;
}

.appliance {
  font-size: 25px;
  width: 300px;
  height: 600px;
  background: #e6f1f8;         /* light freezer color */
  text-align: center;;
  border: 4px solid #c2d4de;
  border-radius: 10px;
  position: relative;
  /* 3D box effect */
  box-shadow:
      0 0 0 2px #ccc inset,     /* inner rim */
      -10px 0 20px rgba(0,0,0,0.15),  /* left depth shadow */
      10px 0 25px rgba(0,0,0,0.15),   /* right depth shadow */
      0 8px 25px rgba(0,0,0,0.25);    /* bottom drop shadow */
  overflow: visible; /* IMPORTANT */
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

/* Door appearance */
.appliance-door {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right,
        #ececec 0%,
        #fafafa 50%,
        #e0e0e0 100%
    );
    border-radius: 6px;
    transform-origin: left center; /* Swing from the left */
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    z-index: 3;
}

/* Handle */
.appliance-handle {
    width: 15px;
    height: 60px;
    background: #666;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
}

.appliance-door.open {
    transform: rotateY(-90deg) translateZ(2px);
    box-shadow:
    0 0 10px rgba(0,0,0,0.10),
    inset -2px 0 5px rgba(0,0,0,0.08);

    /* Slight darkening to simulate angle */
    filter: brightness(0.92);
}

.drawer {  
    flex: 1;
    width: 100%;
    background: #d9d9d9;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    box-shadow:
        0 2px 5px rgba(0,0,0,0.1),
        inset 0 -2px 5px rgba(255,255,255,0.6);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.drawer.open {  
    transform: translateY(20px) translateX(-5px);
    flex: 1;
    box-shadow: 5px -20px rgba(0,0,0,0.7);
}